<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>Hey this is a weather app that uses Post Stack API to get the data for weather.Have a great day</p>
        <img class="portrait" src="Img\wallpaperflare.com_wallpaper (7).jpg">

    </div>


    {{>footer}}
</body>

</html>